In [25]:
import pandas as pd

In [26]:
import csv

In [27]:
# opening 2000-1 file
zero_one = pd.read_csv("/Users/rilyneischens/desktop/school/edits/2000-1.csv")

In [28]:
# renaming cert_enroll_2000-1 column enroll_zero_one
zero_one = zero_one.rename(columns={"cert_enroll_2000-1": "enroll_zero_one"})
zero_one.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 17 columns):
district                          374 non-null object
resident_students_in_district     374 non-null object
open_enrollment_out               374 non-null float64
tuition_out                       374 non-null float64
nonpublic_shared_time             374 non-null float64
public_institution_pt             374 non-null float64
tuition_out_com_college           374 non-null float64
enroll_zero_one                   374 non-null object
open_enrollment_in                374 non-null float64
tuition_in                        374 non-null float64
out_of_state_in                   374 non-null int64
total_served_enrollment           374 non-null object
sup_weighting                     374 non-null float64
lep_weighting                     374 non-null float64
residents_in_accred_nonpublics    293 non-null object
tech_requests_nonpublics          100 non-null object
phase_i_teacher_fte               374 non-null object
dtypes: float64(9), int64(1), object(7)
memory usage: 49.7+ KB

In [29]:
# opening all files
one_two = pd.read_csv("/Users/rilyneischens/desktop/school/edits/2001-2.csv") 
two_three = pd.read_csv("/Users/rilyneischens/desktop/school/edits/2002-3.csv") 
three_four = pd.read_csv("/Users/rilyneischens/desktop/school/edits/2003-4.csv") 
four_five = pd.read_csv("/Users/rilyneischens/desktop/school/edits/2004-5.csv") 
five_six = pd.read_csv("/Users/rilyneischens/desktop/school/edits/2005-6.csv") 
six_seven = pd.read_csv("/Users/rilyneischens/desktop/school/edits/2006-7.csv") 
seven_eight = pd.read_csv("/Users/rilyneischens/desktop/school/edits/2007-8.csv") 
eight_nine = pd.read_csv("/Users/rilyneischens/desktop/school/edits/2008-9.csv") 
nine_ten = pd.read_csv("/Users/rilyneischens/desktop/school/edits/2009-10.csv") 
ten_eleven = pd.read_csv("/Users/rilyneischens/desktop/school/edits/2010-11.csv") 
eleven_twelve = pd.read_csv("/Users/rilyneischens/desktop/school/edits/2011-12.csv") 
twelve_thirteen = pd.read_csv("/Users/rilyneischens/desktop/school/edits/2012-13.csv") 
thirteen_fourteen = pd.read_csv("/Users/rilyneischens/desktop/school/edits/2013-14.csv") 
fourteen_fifteen = pd.read_csv("/Users/rilyneischens/desktop/school/edits/2014-15.csv") 
fifteen_sixteen = pd.read_csv("/Users/rilyneischens/desktop/school/edits/2015-16.csv") 
sixteen_seventeen = pd.read_csv("/Users/rilyneischens/desktop/school/edits/2016-17.csv")

# checking one_two

In [30]:
one_two.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 17 columns):
district                          371 non-null object
resident_students_in_district     371 non-null object
open_enrollment_out               371 non-null float64
tuition_out                       371 non-null float64
nonpublic_shared_time             371 non-null float64
public_institution_pt             371 non-null float64
tuition_out_com_college           371 non-null float64
cert_enroll_2001-2                371 non-null object
open_enrollment_in                371 non-null float64
tuition_in                        371 non-null float64
out_of_state_in                   371 non-null int64
total_served_enrollment           371 non-null object
sup_weighting                     371 non-null float64
lep_weighting                     371 non-null float64
residents_in_accred_nonpublics    371 non-null object
tech_requests_nonpublics          371 non-null object
phase_i_teacher_fte               371 non-null object
dtypes: float64(9), int64(1), object(7)
memory usage: 49.3+ KB

In [31]:
one_two.head()

,district,resident_students_in_district,open_enrollment_out,tuition_out,nonpublic_shared_time,public_institution_pt,tuition_out_com_college,cert_enroll_2001-2,open_enrollment_in,tuition_in,out_of_state_in,total_served_enrollment,sup_weighting,lep_weighting,residents_in_accred_nonpublics,tech_requests_nonpublics,phase_i_teacher_fte
0,Adair-Casey,365.2,17.0,6.0,0.0,0.0,0.0,388.2,14.0,1.0,0,380.2,1.23,0.00,3,0,34.5
1,Adel-Desoto-Minburn,"1,340.20",65.2,5.0,0.0,0.2,13.0,"1,423.60",141.3,1.0,0,"1,482.70",0.60,1.14,6,0,115.1
2,AGWSR,752.1,163.1,14.0,2.3,0.5,3.0,935,46.0,0.0,0,800.9,7.98,14.06,16,62,67.88
3,A-H-S-T,644.8,50.0,6.0,0.0,0.0,0.0,700.8,12.0,0.0,0,656.8,6.18,0.00,1,0,56.13
4,Akron Westfield,536,24.2,6.0,0.0,0.0,0.0,566.2,48.0,2.0,66,652,0.81,0.00,8,0,57

Checking two_three

In [32]:
two_three.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 17 columns):
district                          371 non-null object
resident_students_in_district     371 non-null object
open_enrollment_out               371 non-null float64
tuition_out                       371 non-null float64
nonpublic_shared_time             371 non-null float64
public_institution_pt             371 non-null float64
tuition_out_com_college           371 non-null float64
cert_enroll_2002-3                371 non-null object
open_enrollment_in                371 non-null float64
tuition_in                        371 non-null float64
out_of_state_in                   371 non-null int64
total_served_enrollment           371 non-null object
sup_weighting                     371 non-null float64
lep_weighting                     371 non-null float64
residents_in_accred_nonpublics    371 non-null object
tech_requests_nonpublics          371 non-null object
phase_i_teacher_fte               371 non-null object
dtypes: float64(9), int64(1), object(7)
memory usage: 49.3+ KB

In [33]:
two_three.head()

,district,resident_students_in_district,open_enrollment_out,tuition_out,nonpublic_shared_time,public_institution_pt,tuition_out_com_college,cert_enroll_2002-3,open_enrollment_in,tuition_in,out_of_state_in,total_served_enrollment,sup_weighting,lep_weighting,residents_in_accred_nonpublics,tech_requests_nonpublics,phase_i_teacher_fte
0,AGWSR,716,161.6,16.0,0.7,0.0,3.0,897.3,46.0,1.0,0,763.7,8.35,12.10,15,57,64.81
1,ADAIR-CASEY,348.2,16.0,3.0,0.0,0.0,1.0,368.2,14.0,0.0,0,362.2,0.00,0.00,0,0,33
2,ADEL-DESOTO-MINBURN,"1,353.00",77.4,8.0,0.0,0.3,6.0,"1,444.70",140.2,4.0,0,"1,497.50",0.96,0.66,5,0,113.78
3,AKRON WESTFIELD,527.2,27.2,5.0,0.0,0.0,1.0,560.4,41.0,1.0,62,631.2,0.00,0.00,8,0,55
4,ALBERT CITY-TRUESDALE,239.5,53.4,8.0,0.0,0.0,0.0,300.9,5.0,0.0,0,244.5,1.53,1.54,6,0,28.75

Checking three_four

In [34]:
three_four.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370 entries, 0 to 369
Data columns (total 17 columns):
district                          370 non-null object
resident_students_in_district     370 non-null object
open_enrollment_out               370 non-null float64
tuition_out                       370 non-null float64
nonpublic_shared_time             370 non-null float64
public_institution_pt             370 non-null float64
tuition_out_com_college           370 non-null float64
cert_enroll_2003-4                370 non-null object
open_enrollment_in                370 non-null float64
tuition_in                        370 non-null float64
out_of_state_in                   370 non-null float64
total_served_enrollment           370 non-null object
sup_weighting                     370 non-null float64
lep_weighting                     370 non-null float64
residents_in_accred_nonpublics    370 non-null object
tech_requests_nonpublics          370 non-null object
phase_i_teacher_fte               370 non-null object
dtypes: float64(10), object(7)
memory usage: 49.2+ KB

In [35]:
three_four.head()

,district,resident_students_in_district,open_enrollment_out,tuition_out,nonpublic_shared_time,public_institution_pt,tuition_out_com_college,cert_enroll_2003-4,open_enrollment_in,tuition_in,out_of_state_in,total_served_enrollment,sup_weighting,lep_weighting,residents_in_accred_nonpublics,tech_requests_nonpublics,phase_i_teacher_fte
0,ADAIR-CASEY,342.9,19.0,0.0,0.0,0.0,4.0,365.9,17.0,0.0,0.0,359.9,0.00,0.00,0,0,32.25
1,ADEL-DESOTO-MINBURN,"1,336.7",79.4,5.0,0.0,0.0,6.0,"1,427.1",144.1,8.0,0.0,"1,488.8",0.66,0.44,15,0,118.32
2,AGWSR,675.7,150.0,9.0,1.8,0.3,3.0,839.8,43.0,0.0,0.0,720.8,1.70,9.24,18,59,68.25
3,A-H-S-T,578.8,91.6,10.0,0.0,0.0,0.0,680.4,9.0,4.0,0.0,591.8,10.19,0.00,1,0,55.00
4,AKRON WESTFIELD,525.2,26.6,5.0,0.0,0.0,0.0,556.8,44.0,1.0,56.0,626.2,0.00,0.00,11,0,51.75

Checking four_five

In [36]:
four_five.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 17 columns):
district                          367 non-null object
resident_students_in_district     367 non-null object
open_enrollment_out               367 non-null float64
tuition_out                       367 non-null float64
nonpublic_shared_time             367 non-null float64
public_institution_pt             367 non-null float64
tuition_out_com_college           367 non-null float64
cert_enroll_2004-5                367 non-null object
open_enrollment_in                367 non-null float64
tuition_in                        367 non-null float64
out_of_state_in                   367 non-null int64
total_served_enrollment           367 non-null object
sup_weighting                     367 non-null float64
lep_weighting                     367 non-null float64
residents_in_accred_nonpublics    367 non-null object
tech_requests_nonpublics          367 non-null object
phase_i_teacher_fte               367 non-null object
dtypes: float64(9), int64(1), object(7)
memory usage: 48.8+ KB

In [37]:
four_five.head()

,district,resident_students_in_district,open_enrollment_out,tuition_out,nonpublic_shared_time,public_institution_pt,tuition_out_com_college,cert_enroll_2004-5,open_enrollment_in,tuition_in,out_of_state_in,total_served_enrollment,sup_weighting,lep_weighting,residents_in_accred_nonpublics,tech_requests_nonpublics,phase_i_teacher_fte
0,AGWSR,668.7,151.0,10.0,1.3,0.3,1.0,832.3,43.0,0.0,0,713.3,1.23,2.20,19,62,66.5
1,ADAIR-CASEY,323.4,17.0,4.0,0.0,0.0,2.0,346.4,18.0,0.0,0,341.4,0.00,0.00,0,0,31.88
2,ADEL-DESOTO-MINBURN,"1,328.60",77.1,4.0,0.0,0.0,5.0,"1,414.70",147.5,9.0,0,"1,485.10",0.30,0.44,15,0,120.12
3,AKRON WESTFIELD,518.1,28.0,4.0,0.0,0.0,0.0,550.1,45.0,0.0,63,626.1,0.00,0.00,11,0,52.5
4,ALBERT CITY-TRUESDALE,108.5,64.1,80.6,0.0,0.0,0.0,253.2,6.0,1.0,0,115.5,2.60,1.76,5,0,18.25

Checking five_six

In [38]:
five_six.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 17 columns):
district                          365 non-null object
resident_students_in_district     365 non-null object
open_enrollment_out               365 non-null float64
tuition_out                       365 non-null float64
nonpublic_shared_time             365 non-null float64
public_institution_pt             365 non-null float64
tuition_out_com_college           365 non-null float64
cert_enroll_2005-6                365 non-null object
open_enrollment_in                365 non-null float64
tuition_in                        365 non-null float64
out_of_state_in                   365 non-null int64
total_served_enrollment           365 non-null object
sup_weighting                     365 non-null float64
lep_weighting                     365 non-null float64
residents_in_accred_nonpublics    365 non-null object
tech_requests_nonpublics          365 non-null object
phase_i_teacher_fte               365 non-null object
dtypes: float64(9), int64(1), object(7)
memory usage: 48.5+ KB

In [39]:
five_six.head()

,district,resident_students_in_district,open_enrollment_out,tuition_out,nonpublic_shared_time,public_institution_pt,tuition_out_com_college,cert_enroll_2005-6,open_enrollment_in,tuition_in,out_of_state_in,total_served_enrollment,sup_weighting,lep_weighting,residents_in_accred_nonpublics,tech_requests_nonpublics,phase_i_teacher_fte
0,AGWSR,626.9,136.2,10.0,0.5,1.4,3.0,778.0,52.0,0.0,0,680.8,1.26,5.50,21,71,67.38
1,ADAIR-CASEY,319.7,19.0,3.0,0.0,0.0,2.0,343.7,18.0,0.0,0,337.7,0.00,0.00,0,0,31.62
2,ADEL-DESOTO-MINBURN,"1,319.2",93.1,6.0,0.0,0.1,6.0,"1,424.4",150.3,8.0,2,"1,479.6",1.01,0.88,18,0,118.31
3,AKRON WESTFIELD,509.7,25.0,3.0,0.0,0.0,0.0,537.7,45.0,2.0,67,623.7,0.00,0.00,11,0,52.30
4,ALBERT CITY-TRUESDALE,85.4,66.2,87.1,0.0,0.0,0.0,238.7,5.0,0.0,0,90.4,1.90,1.32,3,0,13.20

Checking six_seven

In [40]:
six_seven.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 17 columns):
district                          365 non-null object
resident_students_in_district     365 non-null object
open_enrollment_out               365 non-null object
tuition_out                       365 non-null float64
nonpublic_shared_time             365 non-null float64
public_institution_pt             365 non-null float64
tuition_out_com_college           365 non-null float64
cert_enroll_2006-7                365 non-null object
open_enrollment_in                365 non-null float64
tuition_in                        365 non-null float64
out_of_state_in                   365 non-null float64
total_served_enrollment           365 non-null object
sup_weighting                     365 non-null float64
lep_weighting                     365 non-null float64
residents_in_accred_nonpublics    365 non-null object
tech_requests_nonpublics          365 non-null object
phase_i_teacher_fte               365 non-null object
dtypes: float64(9), object(8)
memory usage: 48.5+ KB

In [41]:
six.seven.head()

NameError: name 'six' is not defined

In [ ]:
six_seven.head()

Checking seven_eight

In [ ]:
seven_eight.head()

In [ ]:
seven_eight.info()

Checking eight_nine

In [ ]:
eight_nine.info()

In [ ]:
eight_nine.head()

Checking nine_ten

In [ ]:
nine_ten.info()
# note: null is Deep River-Millersburg

In [ ]:
nine_ten.head()

Checking ten_eleven

In [ ]:
ten_eleven.info()

In [ ]:
ten_eleven.head()

Checking eleven_twelve

In [ ]:
eleven_twelve.info()

In [ ]:
eleven_twelve.head()

Checking twelve_thirteen

In [ ]:
twelve_thirteen.head()

In [ ]:
twelve_thirteen.info()

Checking thirteen_fourteen

In [ ]:
thirteen_fourteen.info()

In [ ]:
thirteen_fourteen.head()

Checking fourteen_fifteen

In [ ]:
fourteen_fifteen.info()

In [ ]:
fourteen_fifteen.head()

Checking fifteen_sixteen

In [ ]:
fifteen_sixteen.info()

In [ ]:
fifteen_sixteen.head()

Checking sixteen_seventeen

In [ ]:
sixteen_seventeen.info()

In [ ]:
sixteen_seventeen.info()

In [ ]:
merged = pd.merge(zero_one, one_two, on="district")

In [ ]:
merged.head()

In [ ]:
merged2 = pd.merge(zero_one, fifteen_sixteen, on="district")

In [ ]:
merged2.head()

In [ ]:
fifteen_sixteen.head()

In [ ]:
# getting rid of dashes in district names
zero_one["district"] = zero_one["district"].str.replace("-","")

In [ ]:
# getting rid of spaces in district names
zero_one["district"] = zero_one["district"].str.replace(" ","")

In [ ]:
# upper
zero_one["district"] = zero_one["district"].str.upper()

In [ ]:
zero_one.district

In [ ]:
# cleaning string for all:
one_two["district"] = one_two["district"].str.replace("-","").str.replace(" ","").str.upper()

In [ ]:
one_two.district

In [ ]:
# cleaning all district columns
two_three["district"] = two_three["district"].str.replace("-","").str.replace(" ","").str.upper()
three_four["district"] = three_four["district"].str.replace("-","").str.replace(" ","").str.upper()
four_five["district"] = four_five["district"].str.replace("-","").str.replace(" ","").str.upper()
five_six["district"] = five_six["district"].str.replace("-","").str.replace(" ","").str.upper()
six_seven["district"] = six_seven["district"].str.replace("-","").str.replace(" ","").str.upper()
seven_eight["district"] = seven_eight["district"].str.replace("-","").str.replace(" ","").str.upper()
eight_nine["district"] = eight_nine["district"].str.replace("-","").str.replace(" ","").str.upper()
nine_ten["district"] = nine_ten["district"].str.replace("-","").str.replace(" ","").str.upper()
ten_eleven["district"] = ten_eleven["district"].str.replace("-","").str.replace(" ","").str.upper()
eleven_twelve["district"] = eleven_twelve["district"].str.replace("-","").str.replace(" ","").str.upper()
twelve_thirteen["district"] = twelve_thirteen["district"].str.replace("-","").str.replace(" ","").str.upper()
thirteen_fourteen["district"] = thirteen_fourteen["district"].str.replace("-","").str.replace(" ","").str.upper()
fourteen_fifteen["district"] = fourteen_fifteen["district"].str.replace("-","").str.replace(" ","").str.upper()
fifteen_sixteen["district"] = fifteen_sixteen["district"].str.replace("-","").str.replace(" ","").str.upper()
sixteen_seventeen["district"] = sixteen_seventeen["district"].str.replace("-","").str.replace(" ","").str.upper()

In [65]:
# renaming cert_enroll_ columns enroll_x_x
one_two = one_two = one_two.rename(columns={"cert_enroll_2000-1": "enroll_one_two"})

In [66]:
two_three = two_three.rename(columns={"cert_enroll_2002-3": "enroll_two_three"})

In [67]:
three_four = three_four.rename(columns={"cert_enroll_2003-4": "enroll_three_four"})

In [68]:
four_five = four_five.rename(columns={"cert_enroll_2004-5": "enroll_four_five"})

In [69]:
five_six = five_six.rename(columns={"cert_enroll_2005-6": "enroll_five_six"})

In [70]:
six_seven = six_seven.rename(columns={"cert_enroll_2006-7": "enroll_six_seven"})

In [71]:
seven_eight = seven_eight.rename(columns={"cert_enroll_2007-8": "enroll_seven_eight"})

In [72]:
eight_nine = eight_nine.rename(columns={"cert_enroll_2008-9": "enroll_eight_nine"})

In [73]:
nine_ten = nine_ten.rename(columns={"cert_enroll_2009-10": "enroll_nine_ten"})

In [74]:
ten_eleven = ten_eleven.rename(columns={"cert_enroll_2010-11": "enroll_ten_eleven"})

In [75]:
eleven_twelve = eleven_twelve.rename(columns={"cert_enroll_2011-12": "enroll_eleven_twelve"})

In [76]:
twelve_thirteen = twelve_thirteen.rename(columns={"cert_enroll_2012-13": "enroll_twelve_thirteen"})

In [77]:
thirteen_fourteen = thirteen_fourteen.rename(columns={"cert_enroll_2013-14": "enroll_thirteen_fourteen"})

In [78]:
fourteen_fifteen = fourteen_fifteen.rename(columns={"cert_enroll_2014-15": "enroll_fourteen_fifteen"})

In [79]:
fifteen_sixteen = fifteen_sixteen.rename(columns={"cert_enroll_2015-16": "enroll_fifteen_sixteen"})

In [80]:
sixteen_seventeen = sixteen_seventeen.rename(columns={"cert_enroll_2016-17": "enroll_sixteen_seventeen"})

In [81]:
zeroone = zero_one["district", "enroll_zero_one"]

KeyError: ('district', 'enroll_zero_one')

In [82]:
zero_one.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 17 columns):
district                          374 non-null object
resident_students_in_district     374 non-null object
open_enrollment_out               374 non-null float64
tuition_out                       374 non-null float64
nonpublic_shared_time             374 non-null float64
public_institution_pt             374 non-null float64
tuition_out_com_college           374 non-null float64
enroll_zero_one                   374 non-null object
open_enrollment_in                374 non-null float64
tuition_in                        374 non-null float64
out_of_state_in                   374 non-null int64
total_served_enrollment           374 non-null object
sup_weighting                     374 non-null float64
lep_weighting                     374 non-null float64
residents_in_accred_nonpublics    293 non-null object
tech_requests_nonpublics          100 non-null object
phase_i_teacher_fte               374 non-null object
dtypes: float64(9), int64(1), object(7)
memory usage: 49.7+ KB

In [83]:
zero_one.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 17 columns):
district                          374 non-null object
resident_students_in_district     374 non-null object
open_enrollment_out               374 non-null float64
tuition_out                       374 non-null float64
nonpublic_shared_time             374 non-null float64
public_institution_pt             374 non-null float64
tuition_out_com_college           374 non-null float64
enroll_zero_one                   374 non-null object
open_enrollment_in                374 non-null float64
tuition_in                        374 non-null float64
out_of_state_in                   374 non-null int64
total_served_enrollment           374 non-null object
sup_weighting                     374 non-null float64
lep_weighting                     374 non-null float64
residents_in_accred_nonpublics    293 non-null object
tech_requests_nonpublics          100 non-null object
phase_i_teacher_fte               374 non-null object
dtypes: float64(9), int64(1), object(7)
memory usage: 49.7+ KB

In [62]:
zeroone = zero_one[['district', 'enroll_zero_one']]

In [63]:
zeroone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 2 columns):
district           374 non-null object
enroll_zero_one    374 non-null object
dtypes: object(2)
memory usage: 5.9+ KB

In [84]:
onetwo = one_two[['district', 'enroll_one_two']]

KeyError: "['enroll_one_two'] not in index"

In [85]:
one_two.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 17 columns):
district                          371 non-null object
resident_students_in_district     371 non-null object
open_enrollment_out               371 non-null float64
tuition_out                       371 non-null float64
nonpublic_shared_time             371 non-null float64
public_institution_pt             371 non-null float64
tuition_out_com_college           371 non-null float64
cert_enroll_2001-2                371 non-null object
open_enrollment_in                371 non-null float64
tuition_in                        371 non-null float64
out_of_state_in                   371 non-null int64
total_served_enrollment           371 non-null object
sup_weighting                     371 non-null float64
lep_weighting                     371 non-null float64
residents_in_accred_nonpublics    371 non-null object
tech_requests_nonpublics          371 non-null object
phase_i_teacher_fte               371 non-null object
dtypes: float64(9), int64(1), object(7)
memory usage: 49.3+ KB

In [ ]:
onetwo.head()

In [ ]:
twothree = two_three[['district', 'enroll_two_three']]

In [ ]:
threefour = three_four[['district', 'cert_enroll_2003-4']]

In [ ]:
fourfive = four_five[['district', 'cert_enroll_2004-5']]

In [ ]:
fivesix = five_six[['district', 'cert_enroll_2005-6']]

In [ ]:
sixseven = six_seven[['district', 'cert_enroll_2006-7']]

In [ ]:
seveneight = seven_eight[['district', 'cert_enroll_2007-8']]

In [ ]:
eightnine = eight_nine[['district', 'cert_enroll_2008-9']]

In [ ]:
nineten = nine_ten[['district', 'cert_enroll_2009-10']]

In [ ]:
teneleven = ten_eleven[['district', 'cert_enroll_2010-11']]

In [ ]:
eleventwelve = eleven_twelve[['district', 'cert_enroll_2011-12']]

In [ ]:
twelvethirteen = twelve_thirteen[['district', 'cert_enroll_2012-13']]

In [ ]:
thirteenfourteen = thirteen_fourteen[['district', 'cert_enroll_2013-14']]

In [ ]:
fourteenfifteen = fourteen_fifteen[['district', 'cert_enroll_2014-15']]

In [ ]:
fifteensixteen = fifteen_sixteen[['district', 'cert_enroll_2015-16']]

In [ ]:
sixteenseventeen = sixteen_seventeen[['district', 'cert_enroll_2016-17']]

In [ ]:
#merge
# merged = pd.merge(zeroone, onetwo, twothree, threefour, fourfive, fivesix, sixseven, seveneight, eightnine, nineten, on="district")

In [ ]:
#teneleven, eleventwelve, twelvethirteen, thirteenfourteen, fourteenfifteen, fifteensixteen, sixteenseventeen,

In [ ]:
merge1 = pd.merge(zeroone, onetwo, on='district')

In [ ]:
merge1.info()

In [ ]:
merge2 = pd.merge(merge1, twothree, on="district")

In [ ]:
merge2.info()

In [ ]:
merge3 = pd.merge(merge2, threefour, on='district')

In [ ]:
merge3.info()

In [ ]:
merge4 = pd.merge(merge3, fourfive, on="district")

In [ ]:
merge4.info()

In [ ]:
merge5 = pd.merge(merge4, fivesix, on='district')

In [ ]:
merge5.info()

In [ ]:
merge6 = pd.merge(merge5, sixseven, on='district')

In [ ]:
merge6.info()

In [ ]:
merge7 = pd.merge(merge6, seveneight, on='district')

In [ ]:
merge7.info()

In [ ]:
merge8 = pd.merge(merge7, eightnine, on='district')

In [ ]:
merge8.info()

In [ ]:
merge9 = pd.merge(merge8, nineten, on='district')

In [ ]:
merge9.info()

In [ ]:
merge10 = pd.merge(merge9, teneleven, on='district')

In [ ]:
merge10.info()

In [ ]:
merge11 = pd.merge(merge10, eleventwelve, on='district')

In [ ]:
merge11.info()

In [ ]:
merge12 = pd.merge(merge11, twelvethirteen, on='district')

In [ ]:
merge12.info()

In [ ]:
merge13 = pd.merge(merge12, thirteenfourteen, on='district')

In [ ]:
merge13.info()

In [ ]:
merge14 = pd.merge(merge13, fourteenfifteen, on='district')

In [ ]:
merge14.info()

In [ ]:
merge15 = pd.merge(merge14, fifteensixteen, on="district")

In [ ]:
merge15.info()

In [ ]:
merge16 = pd.merge(merge15, sixteenseventeen, on='district')

In [ ]:
merge16.info()

In [ ]:
merge16.to_csv("/Users/rilyneischens/desktop/combo_enrollment.csv")

In [ ]:
merge16.district

In [ ]:
sixteenseventeen.district

In [ ]:
full_list = sixteenseventeen.district
print(full_list)

In [ ]:
# turning 16-17 district list into a list
full_list.tolist()

In [ ]:
merge_district = merge16.district

In [ ]:
merge_district.tolist()

In [ ]:
# if item in full_list is not in merge_district, print it out 
#def returnNotMatches():
  #  a = set(a)
  #  b = set(b)
   # return [list(b - a), list(a - b)]

In [ ]:
# creating sets from the lists
district1617 = set(full_list)

In [ ]:
mergedistrict = set(merge_district)

In [ ]:
# finding what is in the full list but not the merged one
difference = list(set(full_list) - set(merge_district))

In [ ]:
print(difference)

In [ ]:
missing = list(difference)

In [ ]:
for row in sixteenseventeen:
    if 'district' == 'clarinda':
        print(enroll_sixteen_seventeen)
    else:
        print("nope")

In [ ]:
# renaming cert_enroll_ columns enroll_x_x
zero_one = zero_one.rename(columns={"cert_enroll_2000-1": "enroll_zero_one"})
one_two = one_two.rename(columns={"cert_enroll_2001-2": "enroll_one_two"})
two_three = one_two.rename(columns={"cert_enroll_2001-2": "enroll_one_two"})

In [ ]:
zero_one.info()